<p%><%= @game.current_player.name %> attacks <%= @game.opponent.name  %></p>
<p>Poor <%= @game.opponent.name %> now only has <%= @game.opponent.hp %> Hit Points</p>

<form action="/switch_player" method="post">
  <input type="submit" value="Revenge!">
</form>
